<iframe src="http://{$url}" width="100%" height="300px"></iframe>
<form id="editext-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <input type="hidden" name="row[domain_id]" value="{$row.id}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customer_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-customer_id" readonly="readonly" class="form-control" name="row[customer_id]" type="text" value="{$row.customer_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Engineroom_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-engineroom_name" readonly="readonly" class="form-control" name="row[engineroom_name]" type="text" value="{$row.engineroom_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Icpstatus')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">{$icpstatusList[$row.icpstatus]}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Psorgan')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">{$psorganList[$row.psorgan]}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lasttime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">{$row.lasttime}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-status" data-rule="required" class="form-control selectpicker" name="row[status]">
                {foreach name="statusList" item="vo"}
                <option value="{$key}">{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-state" data-rule="required" class="form-control selectpicker" name="row[state]">
                {foreach name="stateList" item="vo"}
                <option value="{$key}">{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lawtype')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-lawtype" data-rule="required" class="form-control selectpicker" name="row[lawtype]">
                {foreach name="lawtypeList" item="vo"}
                <option value="{$key}">{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-note" class="form-control " rows="5" name="row[note]" cols="50">{$row.note}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
